.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.entry-section, .exit-section {
  display: flex;
  align-items: center;
}

button {
  background-color: rgb(113, 231, 113);
  border: 1px solid #A9A9A9;
  padding: 5px 10px;
  margin-right: 15px;
  cursor: pointer;
  font-weight: bold;
  
}